.container{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.upperContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    color: white;
}

.lowerContainer{
    height: 80%;
    width: 100%;
    color: white;
    display: flex;
}

.aboutMe{
    font-size: 2rem;
    margin: 0px 80px;
    width: 70%;
    text-align: justify;
}

.imageContent{
    width: 30%;
    height: 500px;
    border: 1px solid black;
    margin-left: 20px;

}

.imageContent img{
    width: 100%;
    height: 100%;

}