* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100vw;
  background: linear-gradient(to right, #fff, #f8f8f8);
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.hero-content {
  max-width: 80%;
}

.hero-content h3 {
  font-size: 1.2rem;
  color: #666;
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #7A73D1;
}

.hero-content p {
  font-size: 1rem;
  color: #555;
  margin: 15px 0;
}

.cta-button {
  background: #7A73D1;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.cta-button:hover {
  background: #6358C0;
}

.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-top: 40px;
}

.hero-image img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid #7A73D1;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
  object-fit: cover;
}

.social-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.icon {
  position: absolute;
  background: white;
  color: black;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.icon.facebook {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon.instagram {
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon.twitter {
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
}



.icon.facebook:hover {
  color: #1877F2;
}

.icon.instagram:hover {
  color: #E4405F;
}

.icon.twitter:hover {
  color: #1DA1F2;
}



.hero-image:hover{

  cursor: pointer;
}

@media (max-width: 768px) {

  .hero-content{
    margin-top: 50px;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .hero-image {
    max-width: 300px;
  }

  .icon {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.85rem;
  }

  .cta-button {
    font-size: 0.85rem;
    padding: 8px 16px;
  }

  .hero-image {
    max-width: 250px;
  }

  .icon {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .icon.instagram {
    left: 5%;
  }

  .icon.twitter {
    right: 5%;
  }
}
